<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body dir="rtl" class="bg-gray-100">
        <nav class="w-full h-fit bg-orange-700 sm:p-4 p-2 sm:flex justify-between">
            <div class="w-fit sm:flex sm:flex-row flex flex-col gap-1">
                <a href="{{ path('app_homepage') }}" class="w-fit bg-[#0C2D57] text-white rounded-md px-3 py-2 sm:text-sm text-xs font-medium" aria-current="page">خانه</a>
                <a href="{{ path('app_homepage') }}" class="w-fit text-white transition duration-200 hover:bg-[#0C2D57] hover:text-white rounded-md px-3 py-2 sm:text-sm text-xs font-medium">محصولات</a>
            </div>
            <div class="w-fit sm:flex sm:flex-row flex flex-col">
                <a href="{{ path('app_login') }}" class="w-fit text-white transition duration-200 hover:bg-[#0C2D57] hover:text-white rounded-md px-3 py-2 sm:text-sm text-xs font-medium" aria-current="page">ورود</a>
                <a href="{{ path('app_register') }}" class="w-fit text-white transition duration-200 hover:bg-[#0C2D57] hover:text-white rounded-md px-3 py-2 sm:text-sm text-xs font-medium">ثبت نام</a>
            </div>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
