{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<div class="container mx-auto mt-10">
  <p class="text-center mb-4 font-bold text-xl">خلاصه خرید شما</p>
  <div class="w-full max-w-4xl mx-auto flex flex-col gap-4">
    {% set totalPrice = 0 %}
    {% set ordersLength = 0 %}

    {% for order in orders %}
    <div class="grid grid-cols-6 items-center	bg-white cursor-pointer border border-gray-300 rounded-lg p-4">
      <div class="w-28 h-28">
        <img class="w-full" src="{{ order.product.imageUrl }}" >
      </div>
      <div class="col-span-2">
        <span class="text-base font-bold">{{ order.product.name }}</span>
      </div>
      <div class="flex flex-col items-center">
        <span class="text-sm font-bold">قیمت واحد</span>
        <span class="text-sm">{{ order.product.price|number_format() }}</span>
      </div>
      <div class="flex flex-col items-center">
        <span class="text-sm font-bold">تعداد</span>
        <span class="text-sm">{{ order.amount }}</span>
      </div>
      <div class="flex flex-col items-center">
        <span class="text-sm font-bold">قیمت کل</span>
        <span class="text-sm">{{ (order.amount * order.product.price)|number_format() }}</span>
      </div>
    </div>
    {% set totalPrice = totalPrice + (order.amount * order.product.price) %}
    {% set ordersLength = orders|length %}

    {% endfor %}
    <div class="flex flex-col gap-2 items-center h-fit p-8 bg-white border border-gray-200 rounded-lg">
        <span class="text-xl font-bold mb-4">صورتحساب نهایی</span>
        <div class="lg:gap-20 gap-10 w-full flex justify-between">
            <span class="text-gray-500 text-sm">تعداد سفارشات</span>
            <span class="text-gray-500 text-sm">{{ ordersLength }}</span>
        </div>
        <div class="lg:gap-20 gap-10 w-full flex justify-between">
            <span class="text-gray-500 text-sm">مجموع کل پرداختی شما</span>
            <span class="text-gray-500 text-sm">{{ totalPrice|number_format() }} تومان</span>
        </div>
          <input type="submit" class="cursor-pointer py-2 px-6 border border-black mt-4 rounded-lg text-lg text-black  outline-none" type="button" value="پرداخت و تکمیل خرید" >
    </div>
  </div>
{% endblock %}
